.text, p{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
p[class="text"]{
    font-size: 18pt;
}
h1[class="text"]{
    text-transform: uppercase;
}
p[class="fight"]{
    font-size: 10pt;
}
body{
    background-color: black;
    color: white;
}
img{
    position: relative;
    border:5px solid white; 
    height: 100%;
    width: 100% ;
    margin: 10% 0% 0% 0%;
}
.box{
    position: relative;
    height: 300pt;
    width: 600pt;
    margin-left:30%;
    margin-right:30%;
}